{include file='header.html'}
<div class="banner default-translucent-bg parallax" style="background-image:url('images/panel-1.jpg');background-position:50% 0;">
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Главная</a></li>
                <li class="active">О себе</li>
            </ol>
        </div>
    </div>
        <!-- breadcrumb end -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
                <h1 class="title object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">О себе</h1>
                <div class="separator object-non-visible mt-10 animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                <p class="text-center object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Добро пожаловать на официальную страничку в Интернете профессионального игрока в Покер Сайбель Михаила (Saybel Mikhail) -  известного игрока в играх online poker под ником Saybel 0511.</p>
                <p class="text-center object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Здесь Вы сможете наблюдать развитие карьеры игрока, отслеживать игры, в которых он принимает участие, писать ему в чат напрямую свое мнение, общаться на форуме как с игроком, так и с другими подписчиками.</p>
                <p class="text-center object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">А самое главное, вы можете поверить в игрока и зарабатывать вместе с ним на Покере.</p>
                <p class="text-center object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Каждая игра транслируется на нашем веб ресурсе и в режиме онлайн вы можете оставлять свои комментарии</p> 
            </div>
        </div>
    </div>
</div>
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="main col-md-12">
                <h1 class="page-title">Михаил Сайбель</h1>
                <div class="separator-2"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="image-box team-member shadow mb-20">
                            <div class="overlay-container overlay-visible">
                                <img src="images/team-member-3.jpg" alt="">
                                <a href="images/team-member-3.jpg" class="popup-img overlay-link" title="Михаил Сайбель"><i class="icon-plus-1"></i></a>
                                <div class="overlay-bottom">
                                    <div class="text">
                                        <h3 class="title margin-clear">Михаил Сайбель</h3>
                                        <p class="margin-clear">***</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-5">
                        <p>Сайбель Михаил (Saybel Mikhail) родился в городе Новочеркасск, Россия 05 ноября 1982 года. В 2000-х годах получил высшее образование по специальности финансист-международник в Москве, так как проявлял большой интерес к международной финансовой системе. В течение 13 лет после окончания института много путешествовал и жил в различных странах, где и увлекся игрой в ПОКЕР.</p>
                        <p>Сайбель Михаил часто принимал участие во многих турнирах в МАКАО (Китай), ОКЛЕНДЕ (Новая Зеландия), БАРСЕЛОНЕ (Испания) и так далее. Однако, относился к данному увлечению, как к хобби.</p>  
                        <p>Сравнительно недавно и после советов друзей и знакомых, набравшись относительно большого опыта в этой интересной игре, Сайбель Михаил принял решение записывать и показывать свои результаты общественности, открыв свою официальную страничку в Интернете.</p>  
                        <p>Здесь Сайбель Михаил хотел бы выстроить прямой контакт со своими подписчиками, делиться эмоциями и впечатлениями от игр, приглашать своих поклонников участвовать с ним в туре по покерным турнирам в разных странах.</p>
                    </div>
                    <div class="col-sm-3 col-lg-offset-1">
                        <h3 class="title">Свяжитесь со мной</h3>
                        <ul class="list-icons">
                            <li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
                            <li><i class="fa fa-mobile pr-10 text-default"></i> +00 1234567890</li>
                            <li><a href="mailto:info@poker-live.com"><i class="fa fa-envelope-o pr-10"></i>info@poker-live.com</a></li>
                        </ul>
                        <h3>Follow Me</h3>
                        <div class="separator-2"></div>
                        <a target="_blank" href="https://www.linkedin.com" class="btn btn-animated linkedin btn-sm">Linkedin<i class="pl-10 fa fa-linkedin"></i></a>
                        <a target="_blank" href="https://www.xing.com/" class="btn btn-animated xing btn-sm">Xing<i class="fa fa-xing"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pv-30 parallax default-translucent-bg  padding-bottom-clear" style="background-image:url('images/panel-2.jpg');background-position: 50% 50%;">

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Поставленные цели для Сайбель Михаила на 2017 год</h3>
        </div>
        <div class="col-md-4 ">
            <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon light-bg circle"><i class="fa fa-diamond"></i></span>
                <h4>Заработать 250 000 долларов США по резальтатам участия во всех турнирах</h4>
                <div class="separator clearfix"></div>
                <p></p>
                <!--a href="page-services.html" class="link-light">Read More<i class="pl-5 fa fa-angle-double-right"></i></a-->
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon light-bg circle"><i class="fa fa-connectdevelop"></i></span>
                <h4 >Занять одно из призовых мест на крупном покерном турнире</h4>
                <div class="separator clearfix"></div>
                <p></p>
    
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon light-bg circle"><i class="icon-snow"></i></span>
                <h4>Увеличить аудиторию до 1000 участников</h4>
                <div class="separator clearfix"></div>
                <p></p>
            </div>
        </div>
    </div>
</div>
<br>
</section>

<div class="dark-bg  default-hovered footer-top animated-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Поставить</h2>
                            <h2>И выиграть</h2>
                        </div>
                        <div class="col-sm-4">
                        <p class="mt-10"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent ">Участвовать<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='footer.html'}