<div class="header-container">
    <header class="header  fixed fixed-before  dark clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3  hidden-xs ">
                    <div class="header-first clearfix">
                        <div id="logo" class="logo">
                            <a href="/"><!--img id="logo_img" src="images/logo_light_blue.png" alt="The Project"--><span <span class="logo-font" style='font-size:21.5px'>Poker LIVE</span></a>
                        </div>
                        <div class="site-slogan">
                            Ставки на покер - online
                        </div>      
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="header-second clearfix">
                        <div class="main-navigation animated">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <div class="header-first clearfix  visible-xs ">
                                            <div id="logo-mobile" class="logo">
                                                <a href="/"><img id="logo-img-mobile" src="images/logo_light_blue.png" alt="The Project"></a>
                                            </div>
                                            <div class="site-slogan hidden-xs">
                                                Ставки на покер - online
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            {*<li class="dropdown active">
                                                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Главная</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/">Home - Default</a></li>
                                                </ul>
                                            </li>*}
                                            <li><a href="/">Главная</a></li>
                                            <li><a href="/?p=about">О себе</a></li>
                                            <li><a href="/?p=live">Покер Live</a></li>
                                            <li><a href="/?p=pokerArchive">Архив</a></li>
                                            <li><a href="/?p=newsArchive">Блог</a></li>
                                            <li><a href="/?p=pokerResult">Результат</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </header>
</div>