{include file='header.html'}
<div id="banner" class="banner clearfix">
<div class="slideshow">
    <div class="slider-revolution-5-container">
    <div id="slider-banner-fullscreen" class="slider-banner-fullscreen rev_slider" data-version="5.0">
        <ul class="slides">
        <li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Unlimited Options and Layouts">

        <img src="images/slide-1.jpg" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">
        <div class="tp-caption dark-translucent-bg"
            data-x="center"
            data-y="center"
            data-start="0"
            data-transform_idle="o:1;"
            data-transform_in="o:0;s:600;e:Power2.easeInOut;"
            data-transform_out="o:0;s:600;"
            data-width="5000"
            data-height="5000">
        </div>
        <div class="tp-caption large_white"
            data-x="left"
            data-y="200"
            data-start="500"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
            <span class="logo-font">Poker LIVE</span> - Зарабатывай со мной на покере
        </div>
        <div class="tp-caption large_white tp-resizeme"
            data-x="left"
            data-y="270"
            data-start="750"
            data-transform_idle="o:1;"
            data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
            <div class="separator-2 light"></div>
        </div>
        <div class="tp-caption medium_white"
            data-x="left"
            data-y="290"
            data-start="750"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];sX:1;sY:1;s:750;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">У Вас есть уникальная возможность зарабатывать<br>
со мной на игре в ПОКЕР с минимальным риском
        </div>

        <div class="tp-caption medium_white"
            data-x="left"
            data-y="380"
            data-start="950"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];sX:1;sY:1;s:750;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Стань участником, вложи в общий банк или поставь ставку на игру<br>
и получи выигрыш
        </div>

        <div class="tp-caption medium_white"
            data-x="left"
            data-y="470"
            data-start="950"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];sX:1;sY:1;s:750;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Вознаграждение игроку составляет 30% от суммы выигрыша,<br>
остальное делят участники. 
        </div>

        <div class="tp-caption small_white"
            data-x="left"
            data-y="560"
            data-start="1000"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];sX:1;sY:1;o:0;s:500;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
            <a href="/?p=registration" class="btn btn-gray radius-50 btn-lg btn-animated margin-clear">Стать участником <i class="fa fa-info-circle"></i></a> <span class="pl-5 pr-5">или</span> <a href="page-contact.html" class="btn btn-default radius-50 btn-lg btn-animated margin-clear">Напишите мне <i class="fa fa-envelope"></i></a>
        </div>

        <div class="tp-caption"
            data-x="center"
            data-y="bottom"
            data-voffset="100"
            data-start="1250"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
            <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
        </div>
        </li>
        </ul>
    </div>
    </div>
</div>
</div>
<div id="page-start"></div>
<section id="about" class="light-gray-bg pv-20">
<div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center pv-20">
        <br>
        <h1 class="title large"><span class="text-default">Добро пожаловать</span> на Poker LIVE</h1>
        <div class="separator"></div>
        <p class="large">Каждая игра будет транслироваться по отдельному ТВ каналу Youtube, допуск к которому будет только у участников. Вы можете следить за прохождением турнира в режиме онлайн, писать в ЧАТ, оставлять свои комментарии и высказывать мнение. Все Ваши замечания и вопросы не останутся без ответа. Результаты игр и произведенные выплаты выставляются на сайте.</p>
        <p class="large">Следите за моей игрой, пишите, как бы Вы поступили при той или иной раздаче и так далее.</p>
        <p class="large">Давайте зарабатывать на любимой игре вместе.</p>
    </div>
    </div>
</div>
</section>
<section class="stats padding-bottom-clear dark-translucent-bg hovered" style="background-image:url('images/panel-1.jpg'); background-position: 50% 50%;">
<div class="clearfix">
    <div class="col-md-3 pv-40 dark-translucent-bg col-xs-12 col-sm-3 text-center">
    <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <h2><strong>Почему я?</strong></h2>
        <p>Мой игровой опыт более 10 лет</p>
        <p><a href="#" class="btn btn-default radius-50">Узнать больше</a></p>
    </div>
    </div>
    <div class="col-md-3 pv-40 col-xs-12 col-sm-3 text-center">
    <br>
    <br>
    <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon without-bg"><i class="fa fa-users"></i></span>
        <h3><strong>Игр</strong></h3>
        <span class="counter" data-to="0" data-speed="5000">0</span>
    </div>
    </div>
    <div class="col-md-3 pv-40 col-xs-12 col-sm-3 text-center">
    <br>
    <br>
    <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon without-bg"><i class="fa fa-rub"></i></span>
        <h3><strong>Выиграно</strong></h3>
        <span class="counter" data-to="0" data-speed="5000">0</span>
    </div>
    </div>
    <div class="col-md-3 pv-40 col-xs-12 col-sm-3 text-center">
    <br>
    <br>
    <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
        <h3><strong>Турниров</strong></h3>
        <span class="counter" data-to="0" data-speed="5000">0</span>
    </div>
    </div>
</div>
</section>
<section id="about-2" class="main-container">
<div class="container">
    <div class="row">
    <div class="main col-md-12">
        <h1 class="page-title">Когда следующий турнир</h1>
        <div class="separator-2 mb-20"></div>
        <div class="row">
        <div class="col-md-6 text-center">
            <h4>Покер LIVE</h4>
            <p>Название турнира: <strong>Cash game</strong></p>
            <p>Место проведения: <strong>Сочи Казино</strong></p>
            <p>Дата и время участия в турнире: <strong>21:00, 01.06.2017</strong></p>
            <h3>Остаток времени до окончания внесения взносов:<br>36 ч. : 55 мин. : 04 сек.</h3>
            <table class="table table-striped table-colored">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Дата</th>
                        <th>Участники</th>
                        <th>Сумма</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>13:45 10.06.17</td>
                        <td>Семенов ***</td>
                        <td>10 000 <span class='fa fa-rub'></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>14:45 10.06.17</td>
                        <td>Васильев ***</td>
                        <td>10 000 <span class='fa fa-rub'></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>16:45 10.06.17</td>
                        <td>Самохин ***</td>
                        <td>10 000 <span class='fa fa-rub'></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>17:45 10.06.17</td>
                        <td>Ершов ***</td>
                        <td>20 000 <span class='fa fa-rub'></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>18:45 10.06.17</td>
                        <td>Dilan ***</td>
                        <td>100 000 <span class='fa fa-rub'></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>19:45 10.06.17</td>
                        <td>Корнев ***</td>
                        <td>560 000 <span class='fa fa-rub'></span></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <ul class="list-icons hidden">
            <li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> Etiam sed dolor ac diam volutpat</li>
            <li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check"></i> Sed eget pulvinar quam, vel feugiat enim aliquam </li>
            <li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="150"><i class="icon-check"></i> Erat volutpat. Phasellus eu porta ipsum suspendisse aliquet imperdiet</li>
            <li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="200"><i class="icon-check"></i> Phasellus eu porta ipsum. Suspendisse aliquet imperdiet commodo</li>
            </ul>
        </div>
        <aside class="sidebar col-md-6">
            <div class="block clearfix">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"></iframe>
                <p><a href="http://vimeo.com/29198414">Introducing Vimeo Music Store</a> from <a href="http://vimeo.com/staff">Vimeo Staff</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
            </div>
            <div class="block clearfix">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Канал</th>
                        <th>Ссылка</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Youtube</td>
                        <td><a href='http://www.youtube.com/videochannel/'>www.youtube.com/videochannel/</a></td>
                    </tr>
                    <tr>
                        <td>Instagram</td>
                        <td><a href='http://www.instagram.com/videochannel/'>www.instagram.com/videochannel/</a></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </aside>
        </div>
    </div>
    </div>
</div>
</section>

<section class="section dark-translucent-bg parallax" style="background-image:url('images/panel-2.jpg'); background-position: 50% 50%;">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="call-to-action text-center">
        <div class="row">
            <div class="col-sm-8">
            <h1 class="title">Вознаграждение игроку составляет 30% от выигрыша</h1>
            </div>
            <div class="col-sm-4">
            <br>
            <p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated radius-50">Участвовать<i class="fa fa-arrow-right pl-20"></i></a></p>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<section class="pv-30">
<div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Что важно <strong>знать</strong></h2>
        <div class="separator"></div>
        <p class="large text-center"></p>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible  animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
            <span class="icon without-bg"><i class="fa fa-support text-muted"></i></span>
            <div class="body text-muted">
                <h4 class="title">Игра в ПОКЕР</h4>
                <p>У Вас есть уникальная возможность зарабатывать со мной на игре в ПОКЕР с минимальным риском. Я участвую в покерных турнирах, организуемых в различных странах (График планируемого участия выставлен на моем официальном сайте) под эгидой известных организаторов.</p>
                <p>Игры, формирующие заработок для игрока и участников:</p>
                <div class="separator-2"></div>
                <ul class="list-icons">
                    <li><i class="fa fa-info-circle"></i> Кэш игры</li>
                    <li><i class="fa fa-info-circle"></i> Турниры</li>
                </ul>
                <div class="separator-3"></div>
                <a href="#">Подробнее<i class="pl-5 fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
            <span class="icon without-bg"><i class="fa fa-diamond text-muted"></i></span>
            <div class="body text-muted">
                <h4 class="title">Взносы</h4>
    
                <div class="separator-3"></div>

                <h5>Кэш игры</h5>
                <p class="text-muted">На сайте выставляется дата, время и место моего участия в кэш игре. До этого времени любой участник может внести средства в общий банк, который будет использоваться для игры в ПОКЕР.</p>

                <h5>Турниры</h5>
                <p class="text-muted">На сайте выставляется дата, время и место моего участия в турнире. Вы можете сделать ставку на место, которое я займу в ходе проведения турнира. <strong>Чем ближе к 1-му месту в турнире, тем больше вы сможете выиграть на своей ставке.</strong></p>
    

                <div class="separator-2"></div>
                <a href="#">Подробнее<i class="pl-5 fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
            <span class="icon without-bg"><i class="fa fa-support text-muted"></i></span>
            <div class="body text-muted">
                <h4 class="title">Выплаты</h4>
                <div class="separator-2"></div>
                <p class="text-muted">По результатам участия в Покер играх производятся выплаты в соответствии с выигрышем участников.</p>
                <p class="text-muted">Кэш игра – выплата определяется относительно взноса в общий банк.</p>
                <p class="text-muted">В случае вашего взноса, равного 30% банка, то ваша выплата составит 30% от выигрыша.</p>
                <p class="text-muted">Турнир – выплата определяется относительно коэффициента, выставленного на возможность занятия определенного места в турнире.</p>
                <p class="text-muted">В случае, если вы поставили 1 000 руб. на место с 15 по 20 при коэффициенте 5,5, то Ваш выигрыш составит 5 500 руб.</p>
                <p class="text-muted">Все выплаты производятся на следующий день после окончания игр.</p>

                <div class="separator-3"></div>
                <a href="#">Подробнее<i class="pl-5 fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
            <span class="icon without-bg"><i class="fa fa-diamond text-muted"></i></span>
            <div class="body text-muted">
                <h4 class="title">Риск</h4>
                <div class="separator-3"></div>
                <p class="text-muted">В каждой игре или турнире присутствует риск проигрыша, так как никто от этого не застрахован, но вы рискуете минимально.</p>
                <p class="text-muted">Кэш игра – риск 50% от взноса в общий банк.</p>
                <p class="text-muted">В случае неудачного выступления, при Вашем взносе в 1 000 руб., то возврат средств составит 500 руб.</p><p class="text-muted">
                Турнир – риск потери ставки.</p>
                <p class="text-muted">В случае, если вы поставили 1 000 руб. на место с 15 по 20 при коэффициенте 5,5, а в ходе турнира я занял место с 30 по 40, ваша ставка сгорает.</p>
                <p class="text-muted">Все возвраты производятся на следующий день после окончания игр.</p>
    

                <div class="separator-2"></div>
                <a href="#">Подробнее<i class="pl-5 fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
            <span class="icon without-bg"><i class="fa fa-diamond text-muted"></i></span>
            <div class="body text-muted">
                <h4 class="title">ИГРОК и УЧАСТНИКИ</h4>
                <div class="separator-3"></div>
                <p class="text-muted">Игрок принимает участие в различных турнирах по ПОКЕРУ с единственной главной целью – ПОБЕДИТЬ. По результатам турнира ИГРОК получает вознаграждение, которое распределяется между УЧАСТНИКАМИ, поверившим в ИГРОКА и предоставившим ему денежные средства на участие. ИГРОК оставляет себе 30% от выигрыша.  </p>
                <div class="separator-2"></div>
                <a href="#">Подробнее<i class="pl-5 fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>

    </div>
</div>
</section>

<section id="pricing" class="pv-20 padding-bottom-clear clearfix">
<div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Отличие игр</h2>
        <div class="separator"></div>
        <p class="text-center large space-bottom">---</p>
    </div>
    </div>
    <div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
    <div class="row grid-space-10">
        <div class="col-sm-6">
        <div class="plan shadow light-gray-bg bordered ">
            <div class="header dark-bg">
            <h3>Кэш игры</h3>
            <div class="price">от 1000 <span class='fa fa-rub'></span></div>
            </div>
            <ul class="">
            <li><strong>Взнос</strong></li>
            <li>от 1000 руб</li>
            <li><strong>Выплаты</strong></li>
            <li>в соответствии с долей в общем банке</li>
            <li><strong>Риск</strong></li>
            <li>50% от взноса в общий банк</li>
            <li class='hidden'><a class="btn btn-dark radius-50 btn-animated btn-lg">Внести <i class="fa fa-user"></i></a></li>
            </ul>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="plan shadow light-gray-bg bordered">
            <div class="header default-bg">
            <h3>Турнир</h3>
            <div class="price">от 1000 <span class='fa fa-rub'></span></div>
            </div>
            <ul>
            <li><strong>Взнос</strong></li>
            <li>от 1000 руб</li>
            <li><strong>Выплаты</strong></li>
            <li>в соответствии с коэффициентом</li>
            <li><strong>Риск</strong></li>
            <li>100% потеря ставки</li>
            <li class='hidden'><a class="btn btn-default btn-animated btn-lg radius-50">Поставить <i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<section class="pv-40 padding-bottom-clear dark-translucent-bg hovered" style="background-image:url('images/panel-2.jpg'); background-position: 50% 50%;">
<div class="owl-carousel content-slider space-top">
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <div class="testimonial text-center">
            <div class="testimonial-image">
            <img src="images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
            </div>
            <h3>Это парень сумашедший!</h3>
            <div class="separator"></div>
            <div class="testimonial-body">
            <blockquote>
                <p>Я сорвал самый большой куш в своей жизни. Жду с нетерпением следующую игру</p>
            </blockquote>
            <div class="testimonial-info-1">- Василий</div>
            <div class="testimonial-info-2">из Чертаново</div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <div class="testimonial text-center">
            <div class="testimonial-image">
            <img src="images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
            </div>
            <h3>Не так много как хотелось бы</h3>
            <div class="separator"></div>
            <div class="testimonial-body">
            <blockquote>
                <p>Моя вина, испугался ставить большую сумму.</p>
            </blockquote>
            <div class="testimonial-info-1">- Жорик</div>
            <div class="testimonial-info-2">из Подольска</div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="clients-container">
    <div class="clients">
        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
        <a href="#"><img src="images/client-1.png" alt=""></a>
        </div>
        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
        <a href="#"><img src="images/client-2.png" alt=""></a>
        </div>
        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <a href="#"><img src="images/client-3.png" alt=""></a>
        </div>
        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
        <a href="#"><img src="images/client-4.png" alt=""></a>
        </div>
        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
        <a href="#"><img src="images/client-5.jpg" alt=""></a>
        </div>
        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
        <a href="#"><img src="images/client-6.jpg" alt=""></a>
        </div>
    </div>
    </div>
</div>
<div class="default-translucent-bg border-clear footer-top animated-text default-hovered" style="background-color:rgba(0,0,0,0.6);">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="call-to-action text-center">
            <div class="row">
            <div class="col-sm-8">
                <h2>Участвуй в игре</h2>
                <h2>Сорви куш</h2>
            </div>
            <div class="col-sm-4">
                <p class="mt-10"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent radius-50">Участвовать<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
{include file='footer.html'}