{include file='header.html'}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Главная</a></li>
            <li class="active">Все новости</li>
        </ol>
    </div>
</div>
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">
                <h1 class="page-title">Блог Сайбеля Михаила</h1>
                <div class="separator-2"></div>
                <div class="masonry-grid row" style="position: relative; height: 2327.16px;">
                    <div class="masonry-grid-item col-sm-6" style="position: absolute; left: 0px; top: 0px;">
                        <article class="blogpost shadow light-gray-bg bordered">
                            <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators bottom margin-clear">
                                    <li data-target="#carousel-blog-post" data-slide-to="0" class=""></li>
                                    <li data-target="#carousel-blog-post" data-slide-to="1" class=""></li>
                                    <li data-target="#carousel-blog-post" data-slide-to="2" class="active"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="item">
                                        <div class="overlay-container">
                                            <img src="images/blog-1.jpg" alt="">
                                            <a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="item active left">
                                        <div class="overlay-container">
                                            <img src="images/blog-3.jpg" alt="">
                                            <a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="item next left">
                                        <div class="overlay-container">
                                            <img src="images/blog-4.jpg" alt="">
                                            <a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <header>
                                <h2><a href="blog-post.html">Blogpost with slider</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
                                        <i class="icon-calendar"></i>
                                        <span class="day">12</span>
                                        <span class="month">May 2015</span>
                                    </span>
                                    <span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
                                    <span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
                                </div>
                            </header>
                            <div class="blogpost-content">
                                <p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                            </div>
                            <footer class="clearfix">
                                <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                                <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
                            </footer>
                        </article>
                    </div>
                    <div class="masonry-grid-item col-sm-6" style="position: absolute; left: 390px; top: 0px;">
                        <article class="blogpost shadow light-gray-bg bordered">
                            <div class="audio-wrapper">
                                <iframe height="166" class="margin-clear" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/231321623&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                            </div>
                            <header>
                                <h2><a href="blog-post.html">Audio post</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
                                        <i class="icon-calendar"></i>
                                        <span class="day">10</span>
                                        <span class="month">May 2015</span>
                                    </span>
                                    <span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
                                    <span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
                                </div>
                            </header>
                            <div class="blogpost-content">
                                <p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                            </div>
                            <footer class="clearfix">
                                <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                                <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
                            </footer>
                        </article>
                    </div>
                    <div class="masonry-grid-item col-sm-6" style="position: absolute; left: 390px; top: 543px;">

                        <article class="blogpost shadow light-gray-bg bordered object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                            <header>
                                <h2><a href="blog-post.html">Text Post</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
                                        <i class="icon-calendar"></i>
                                        <span class="day">09</span>
                                        <span class="month">May 2015</span>
                                    </span>
                                    <span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
                                    <span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
                                </div>
                            </header>
                            <div class="blogpost-content">
                                <p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                            </div>
                            <footer class="clearfix">
                                <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                                <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
                            </footer>
                        </article>
                    </div>

                    <div class="masonry-grid-item col-sm-6" style="position: absolute; left: 0px; top: 592px;">

                        <article class="blogpost shadow light-gray-bg bordered object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/91J8pLHdDB0"></iframe>
                            </div>
                            <header>
                                <h2><a href="blog-post.html">Blogpost with embedded youtube video</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
                                        <i class="icon-calendar"></i>
                                        <span class="day">08</span>
                                        <span class="month">May 2015</span>
                                    </span>
                                    <span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
                                    <span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
                                </div>
                            </header>
                            <div class="blogpost-content">
                                <p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                            </div>
                            <footer class="clearfix">
                                <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                                <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
                            </footer>
                        </article>

                    </div>
                    <div class="masonry-grid-item col-sm-6" style="position: absolute; left: 390px; top: 914px;">
                        <article class="blogpost shadow light-gray-bg bordered object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                            <div class="overlay-container">
                                <img src="images/blog-2.jpg" alt="">
                                <a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
                            </div>
                            <header>
                                <h2><a href="blog-post.html">Cute Robot</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
                                        <i class="icon-calendar"></i>
                                        <span class="day">08</span>
                                        <span class="month">May 2015</span>
                                    </span>
                                    <span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
                                    <span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
                                </div>
                            </header>
                            <div class="blogpost-content">
                                <p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                            </div>
                            <footer class="clearfix">
                                <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                                <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
                            </footer>
                        </article>
                    </div>
                </div>

            </div>
            <aside class="col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">Категории новостей</h3>
                        <div class="separator-2"></div>
                        <nav>
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="/?з=newsArchive&cat=1">Новости</a></li>
                                <li><a href="/?p=newsArchive&cat=2">Форум</a></li>
                                <li><a href="/?p=newsArchive&cat=3">Медиа</a></li>
                                <li><a href="/?p=newsArchive&cat=4">Турниры</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="block clearfix">
                        <h3 class="title">Последний твитты</h3>
                        <div class="separator-2"></div>
                        <ul class="tweets">
                            <li>
                                <i class="fa fa-twitter"></i>
                                <p><a href="#">@poker-live</a> сегодня записываем видео, следите за новостями <a href="#">http://t.co/dzLEYGeEH9</a>.</p><span>16 hours ago</span>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i>
                                <p><a href="#">@participant</a> да все верно, через неделю новый турнир <a href="#">http://t.co/dzLEYGeEH9</a>.</p><span>24 hours ago</span>
                            </li>
                        </ul>
                    </div>								
                    <div class="block clearfix">
                        <h3 class="title">Популярные тэги</h3>
                        <div class="separator-2"></div>
                        <div class="tags-cloud">
                            <div class="tag">
                                <a href="#">game</a>
                            </div>
                            <div class="tag">
                                <a href="#">pokerfest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
{include file='footer.html'}