{include file='header.html'}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="/">Главная</a></li>
            <li><a href="/?p=newsArchive">Архив новостей</a></li>
            <li class="active">Просмотр новости</li>
        </ol>
    </div>
</div>

<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">
                <h1 class="page-title">Пример новости! Пример, заголовка к новости</h1>
                <article class="blogpost full">
                    <header>
                        <div class="post-info">
                            <span class="post-date">
                                <i class="icon-calendar"></i>
                                <span class="day">12</span>
                                <span class="month">June 2017</span>
                            </span>
                            <span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
                            <span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
                        </div>
                    </header>
                    <div class="blogpost-content">
                        <div id="carousel-blog-post" class="carousel slide mb-20" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-blog-post" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-blog-post" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-blog-post" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="overlay-container">
                                        <img src="images/blog-1.jpg" alt="">
                                        <a class="overlay-link popup-img" href="images/blog-1.jpg"><i class="fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="overlay-container">
                                        <img src="images/blog-3.jpg" alt="">
                                        <a class="overlay-link popup-img" href="images/blog-3.jpg"><i class="fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="overlay-container">
                                        <img src="images/blog-4.jpg" alt="">
                                        <a class="overlay-link popup-img" href="images/blog-4.jpg"><i class="fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Mauris dolor sapien, <a href="#">malesuada at interdum ut</a>, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laboriosam tempore, veniam repudiandae dolor aperiam, iste porro amet odio eius earum tempora? Ex nobis suscipit, nam in eius, deserunt nihil.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit est quae amet iure quia reiciendis maxime eos blanditiis tenetur voluptates, ab, obcaecati eaque accusamus dolorem a beatae mollitia quod?</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aperiam vel cum quisquam enim reprehenderit sunt cupiditate ullam, id quidem perspiciatis dolore molestiae iure odio. Dolore fuga voluptate, deleniti placeat.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, eaque. Totam nisi ducimus dolor ab obcaecati temporibus asperiores, ad dignissimos dolorum unde fuga quae voluptates beatae quasi voluptatum culpa dolore?</li>
                        </ol>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, beatae rem omnis distinctio, dolor, praesentium impedit quisquam nobis pariatur nulla expedita aliquid repellendus laudantium. A illum sint corrupti eligendi quae ab, facilis eos quas! Velit earum facere ex maxime.</p>
                    </div>
                    <footer class="clearfix hidden">
                        <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                        <div class="link pull-right">
                            <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
                                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </footer>
                </article>
            </div>
            <aside class="col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">Категории новостей</h3>
                        <div class="separator-2"></div>
                        <nav>
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="/?з=newsArchive&cat=1">Новости</a></li>
                                <li><a href="/?p=newsArchive&cat=2">Форум</a></li>
                                <li><a href="/?p=newsArchive&cat=3">Медиа</a></li>
                                <li><a href="/?p=newsArchive&cat=4">Турниры</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="block clearfix">
                        <h3 class="title">Последний твитты</h3>
                        <div class="separator-2"></div>
                        <ul class="tweets">
                            <li>
                                <i class="fa fa-twitter"></i>
                                <p><a href="#">@poker-live</a> сегодня записываем видео, следите за новостями <a href="#">http://t.co/dzLEYGeEH9</a>.</p><span>16 hours ago</span>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i>
                                <p><a href="#">@participant</a> да все верно, через неделю новый турнир <a href="#">http://t.co/dzLEYGeEH9</a>.</p><span>24 hours ago</span>
                            </li>
                        </ul>
                    </div>
                    <div class="block clearfix">
                        <h3 class="title">Популярные тэги</h3>
                        <div class="separator-2"></div>
                        <div class="tags-cloud">
                            <div class="tag">
                                <a href="#">game</a>
                            </div>
                            <div class="tag">
                                <a href="#">pokerfest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
{include file='footer.html'}