{include file='header.html'}
<div class="banner default-translucent-bg parallax" style="background-image:url('images/panel-1.jpg');background-position:50% 0;">
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Главная</a></li>
                <li class="active">Покер LIVE</li>
            </ol>
        </div>
    </div>
        <!-- breadcrumb end -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
                <h1 class="title object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Покер LIVE</h1>
                <div class="separator object-non-visible mt-10 animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                <h3 class="text-center object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Название турнира: Cash game</h3>
                <h4 class="text-center object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Место проведения: Сочи Казино</h4>
                <h4 class="text-center object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Дата и время участия в турнире: 21:00, 01.06.2017</h4>
                <h2>Взнос средств окончен</h2>
            </div>
        </div>
    </div>
</div>
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <div class="overlay-container overlay-visible">
                    <img src="images/live-1.jpg" alt="">
                    <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                    <div class="overlay-bottom hidden-xs">
                        <div class="text">
                            <h3 class="title object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Привлечено средств: 105 450 рублей</h3>
                            <h3 class="title object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Количество участников: 2 </h3>
                        </div>
                    </div>
                </div>
                <div class="separator-2"></div>
                <h4 class="title">Каналы</h4>
                <div class="separator-2"></div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Канал</th>
                            <th>Ссылка</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Youtube</td>
                            <td><a href='http://www.youtube.com/videochannel/'>www.youtube.com/videochannel/</a></td>
                        </tr>
                        <tr>
                            <td>Instagram</td>
                            <td><a href='http://www.instagram.com/videochannel/'>www.instagram.com/videochannel/</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <h2 class="title">Участники</h2>
                <div class="separator-2"></div>
                <table class="table table-striped table-colored">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата</th>
                            <th>Участники</th>
                            <th>Сумма</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>13:45 10.06.17</td>
                            <td>Семенов ***</td>
                            <td>10 000 <span class='fa fa-rub'></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>14:45 10.06.17</td>
                            <td>Васильев ***</td>
                            <td>10 000 <span class='fa fa-rub'></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>16:45 10.06.17</td>
                            <td>Самохин ***</td>
                            <td>10 000 <span class='fa fa-rub'></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>17:45 10.06.17</td>
                            <td>Ершов ***</td>
                            <td>20 000 <span class='fa fa-rub'></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>18:45 10.06.17</td>
                            <td>Dilan ***</td>
                            <td>100 000 <span class='fa fa-rub'></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>19:45 10.06.17</td>
                            <td>Корнев ***</td>
                            <td>560 000 <span class='fa fa-rub'></span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
  
            </div>
        </div>
    </div>
    <br>
</section>
<section class="section default-bg clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="title">Турнир по ПОКЕРУ окончен</h1>
                            <p>Выигрыш: 300 000 <span class='fa fa-rub'></span></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class="title">Выплаты</h2>
                <div class="separator-2"></div>
                <table class="table table-striped table-colored">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата</th>
                            <th>Участник</th>
                            <th>Выплата</th>
                            <th>% от выигрыша</th>
                            <th>Квитанция о переводе</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>10.06.17</td>
                            <td>Семенов ***</td>
                            <td>10 000 <span class='fa fa-rub'></span></td>
                            <td>30%</td>
                            <td><a href='#'>Квитанция</a></td>
                        </tr>
                    </tbody>
                </table>
  
            </div>
        </div>
    </div>

</section>
<div class="dark-bg  default-hovered footer-top animated-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Поставить</h2>
                            <h2>И выиграть</h2>
                        </div>
                        <div class="col-sm-4">
                        <p class="mt-10"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent ">Участвовать<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='footer.html'}