{include file='header.html'}
<div class="banner default-translucent-bg parallax" style="background-image:url('images/panel-1.jpg');background-position:50% 0;">
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Главная</a></li>
                <li class="active">Архивы игр</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center pv-20">
                <h1 class="title object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Статистика проведенных игр в ПОКЕР и результаты</h1>
                <div class="separator object-non-visible mt-10 animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                <h3 class="text-center object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Сумма, выплаченная участникам:</h3>
                <h2 class="text-center object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">1 457 980 <span class='fa fa-rub'></span></h2>
            </div>
            <div class='col-md-2 pv-20'>
                <iframe  src="https://www.youtube.com/embed/gKGlAZWWj3o" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg small"><i class="fa fa-heart-o"></i></span>
                    <div class="body">
                        <h4 class="title">Участие в турнирах</h4>
                        <p>Poker cash games = 59<br>Tournaments = 4</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg small"><i class="fa fa-connectdevelop"></i></span>
                    <div class="body">
                        <h4 class="title">Сумма выигрыша</h4>
                        <p>2 057 900 рублей</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg small"><i class="icon-snow"></i></span>
                    <div class="body">
                        <h4 class="title">Место на турнирах</h4>
                        <p>Texas Holdem = 51 место<br>Tournaments = 4</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>
</div>
<section class="main-container">

    <div class="container">
        <div class="row">

            <div class="main col-md-9">

                <ul class="nav nav-pills hidden" role="tablist">
                    <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="Latest Arrivals"><i class="icon-star"></i> Latest Arrivals</a></li>
                    <li><a href="#pill-2" role="tab" data-toggle="tab" title="Featured"><i class="icon-heart"></i> Featured</a></li>
                    <li><a href="#pill-3" role="tab" data-toggle="tab" title="Top Sellers"><i class=" icon-up-1"></i> Top Sellers</a></li>
                </ul>

                <div class="tab-content clear-style">
                    <div class="tab-pane active" id="pill-1">
                        <div class="listing-item mb-20">
                            <div class="row grid-space-0">
                                <div class="col-sm-6 col-md-4 col-lg-3 mt-20">
                                    <div class="overlay-container">
                                        <img src="images/tur1.jpg" alt="">
                                        <span class="badge">Выигрыш</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-8 col-lg-9">
                                    <div class="body">
                                        <h3 class="margin-clear"><a href="/?p=pokerResult">HOLDEM HLH 50,000US</a></h3>
                                        <p>
                                            {*
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star"></i>
                                            <a href="#" class="btn-sm-link"><i class="icon-heart pr-5"></i>Add to Wishlist</a>
                                            <a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
                                            *}
                                            <a href="#" class="btn-sm-link"><i class="fa fa-calendar pr-5"></i> Дата и время проведения: 21:00, 01 июня 2017 года</a>
                                        </p>
                                        <p><strong>Место проведения турнира:</strong>  Сочи, Россия</p>
                                        <p><strong>Занятое место:</strong>  35</p>
                                        <p><strong>Выплаты:</strong></p>
                                        <ol>
                                            <li>
                                                Семенов Александр - 110 000 <a href='#'>Квитанция.jpg</a>
                                            </li>
                                        </ol>
                                        <div class="elements-list clearfix"> 
                                            <span class="price">Выигрыш: 300 550 <span class='fa fa-rub'></span></span>
                                            <a href="#" class="pull-right btn btn-sm btn-default-transparent btn-animated">Подробнее<i class="fa fa-info"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="separator-2"></div>
                        <div class="listing-item mb-20">
                            <div class="row grid-space-0">
                                <div class="col-sm-6 col-md-4 col-lg-3 mt-20">
                                    <div class="overlay-container">
                                        <img src="images/tur1.jpg" alt="">
                                        <a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>
                                        <span class="badge">Выигрыш</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-8 col-lg-9">
                                    <div class="body">
                                        <h3 class="margin-clear"><a href="/?p=pokerResult">HOLDEM HLH 50,000US</a></h3>
                                        <p>
                                            {*
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star"></i>
                                            <a href="#" class="btn-sm-link"><i class="icon-heart pr-5"></i>Add to Wishlist</a>
                                            <a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
                                            *}
                                            <a href="#" class="btn-sm-link"><i class="fa fa-calendar pr-5"></i> Дата и время проведения: 21:00, 01 июня 2017 года</a>
                                        </p>
                                        <p><strong>Место проведения турнира:</strong>  Сочи, Россия</p>
                                        <p><strong>Занятое место:</strong>  35</p>
                                        <p><strong>Выплаты:</strong></p>
                                        <ol>
                                            <li>
                                                Семенов Александр - 110 000 <a href='#'>Квитанция.jpg</a>
                                            </li>
                                        </ol>
                                        <div class="elements-list clearfix"> 
                                            <span class="price">Выигрыш: 300 550 <span class='fa fa-rub'></span></span>
                                            <a href="#" class="pull-right btn btn-sm btn-default-transparent btn-animated">Подробнее<i class="fa fa-info"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <nav class="text-center hidden">
                    <ul class="pagination">
                        <li><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>

            </div>
            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">Игры по месяцам</h3>
                        <div class="separator-2"></div>
                        <nav>
                            <ul class="nav nav-pills nav-stacked list-style-icons">
                                <li><a href="#"><i class="fa fa-caret-right pr-10"></i>Июнь 2017 (1)</a></li>
                                <li><a href="#"><i class="fa fa-caret-right pr-10"></i>Май 2017 (2)</a></li>
                                <li><a href="#"><i class="fa fa-caret-right pr-10"></i>Март 2017 (1)</a></li>
                            </ul>
                        </nav>
                    </div>	
                </div>
            </aside>
 

        </div>
    </div>
</section>
{include file='footer.html'}