<div class="fullscreen-bg"></div>
<div class="pv-40 dark-translucent-bg">
    <div class="container">
        <div class="object-non-visible text-center animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
            <div id="logo" class="logo">
                <h3 class="margin-clear"><a href="/" class="logo-font link-light">Poker <span class="text-default">LIVE</span></a></h3>
            </div>
            <p class="small">Ставки на покер - online</p>
            <div class="form-block center-block p-30 light-gray-bg border-clear text-left">
                <h2 class="title">Стань участником и начни зарабатывать на ПОКЕРЕ</h2>
                <form class="form-horizontal" role="form">
                    <div class="form-group has-feedback">
                        <label for="inputName" class="col-sm-3 control-label">Имя <span class="text-danger small">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputName" placeholder="Fisrt Name" required="" name="firstname">
                            <i class="fa fa-pencil form-control-feedback"></i>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="inputLastName" class="col-sm-3 control-label">Фамилия <span class="text-danger small">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" required="" name="lastname">
                            <i class="fa fa-pencil form-control-feedback"></i>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="inputEmail" class="col-sm-3 control-label">Email <span class="text-danger small">*</span></label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" required="" name="email">
                            <i class="fa fa-envelope form-control-feedback"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" required=""> C текстом  <a href="/doc/agreement.docx" target="_blank">соглашения</a> ознакомлен
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button type="submit" class="btn btn-group btn-default btn-animated">Зарегистрироваться <i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <p class="text-center">Copyright © 2017 <a target="_blank" href="http://poker-live.com">Poker LIVE </a>. Все права защищены</p>
        </div>
    </div>
</div>